<div *ngIf="UsrList.length>0; else listeVide">


<h1>la liste de users</h1>
<table class='table'>
  <thead>
  <tr>
    <th> Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let usr of UsrList;">
    <td> {{usr.id}}</td>
    <td> {{usr.name | uppercase}}</td>
    <td> {{usr.email}}</td>
    <td> {{usr.role}}</td>

  </tr>
  </tbody>
</table>
  <button (click)="deleteAll()"> Supprimer tout</button>
</div>
<ng-template #listeVide>
  <p>La liste des users est vide</p>
</ng-template>
